# Ambiente Virtual
venv/
ENV/
env/

# Python temporários
__pycache__/
*.py[cod]
*$py.class

# Banco de dados local (SQLite)
*.sqlite3

# Configurações do VS Code ou IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp