{% load static %}
<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Helpdesk SaaS</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div class="app-container">
      <aside class="sidebar">
        <div class="logo">
          <h2>Help<span>Desk</span></h2>
        </div>
        <nav>
          <a href="{% url 'dashboard' %}" class="nav-item">📊 Dashboard</a>
          <a href="{% url 'novo_chamado' %}" class="nav-item"
            >➕ Novo Chamado</a
          >
          <a href="#" class="nav-item">⚙️ Configurações</a>
        </nav>
      </aside>

      <main class="main-content">
        <header class="topbar">
          <div class="user-info">
            <span>Olá, {{ request.user.username }}</span>
          </div>
        </header>

        <div class="content">{% block content %} {% endblock %}</div>
      </main>
    </div>
  </body>
</html>
